@model ASP_P15.Models.Shop.ShopPageModel
@{
    ViewData["Title"] = "Shop";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}

<div class="text-center">
    <h1 class="display-4">Крамниця</h1>
</div>

<div class="row">
    @foreach (var grp in Model.ProductGroups)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/images/@grp.Image" class="card-img-top" alt="@grp.Name">
                <div class="card-body">
                    <h5 class="card-title">@grp.Name</h5>
                    <p class="card-text">@grp.Description</p>
                    <a href="@Url.Action("Shop", "Product", new { groupId = grp.Id })" class="btn btn-primary">Переглянути товари</a>
                </div>
            </div>
        </div>
    }
</div>

@if (isAuthenticated)
{
    <hr />
    <form enctype="multipart/form-data" method="post" id="shop-group-form">
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="name-addon"><i class="bi bi-body-text"></i></span>
                    <input name="group-name" type="text" class="form-control" placeholder="Назва товару" aria-label="Назва товару" aria-describedby="name-addon" required>
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="description-addon"><i class="bi bi-person-vcard"></i></span>
                    <textarea name="group-description" class="form-control" placeholder="Опис" aria-label="Опис" aria-describedby="description-addon"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01"><i class="bi bi-diagram-2"></i></label>
                    <input name="group-picture" type="file" class="form-control" id="inputGroupFile01">
                </div>
            </div>
            <div class="col col-6">
                <button type="submit" class="btn btn-outline-secondary">Додати</button>
            </div>
        </div>
    </form>
}

@*  Д.З. Завершити роботу з відновлення видалених користувачів. 


    Система маршрутизації
    Home/Shop/[Group]

    Shop/Group/[Group]
    Shop/Product/[ID]
*@
